.movies {
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: stretch;
  width: 1050px;
  margin-top: -120px;
  padding-bottom: 50px;
  color: white;
  > p {
    font-size: large;
    font-weight: 700;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 30px;
    overflow: hidden;
    > div {
      width: stretch;
      height: auto;
    }
  }
}


