.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: stretch;
  color: white;
  > div {
    display: flex;
    align-items: baseline;
    > h2 {
      font-weight: 700;
      font-size: 30px;
      color: rgb(229,9,20);
      margin-right: 18px;
    }
    > a {
      font-size: 15px;
      text-align: center;
      font-weight: 200;
      padding: 2px 10px;
      &:hover {
        border-radius: 50px;
        background: rgba(226, 226, 226, 0.096);
      }
    }
  }
}
