.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 400px;
  width: 1050px;
  padding: 5px;
  color: white;
  padding-top: 50px;
  > span {
    font-size: 25px;
    margin-top: 0px;
  }
  > h1 {
    font-size: 50px;
    margin-top: 10px;
  }
  > h3 {
    margin-top: 10px;
  }
  > p {
    max-width: 400px;
    margin-top: -10px;
  }
  &_buttons {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
  }
}
