.landing {
  display: grid;
  grid-template-rows: 700px auto;
  grid-template-columns: stretch;
  &_head {
    display: grid;
    grid-template-rows: 30px auto;
    grid-gap: 65px;
    justify-content: center;
    width: stretch;
  }
  &_body {
    background: black;
    display: flex;
    justify-content: center;
  }
}
