::-webkit-scrollbar {
  position: absolute;
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px 1px rgba(65, 65, 65, 0.781);
  border: solid 1px rgba(245, 245, 245, 0.527);
  background: transparent;
  border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgba(70, 70, 70, 0.89);
  border: solid 2px transparent;
  border-radius: 10px;
}
