.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  cursor: pointer;
  font-weight: lighter;
  border: none;
  outline: none;
  border-radius: 45px;
  transition: .5s;
  width: 40px;
  height: 40px;
  padding: 0 0 1px 11px;
  color: transparent;
  &:hover {
    color: white;
    width: 170px;
    transform: scale(1.01);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.645);
    &:before {
      content:'';
      position: absolute;
      border-radius: 45px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(250, 250, 250, 0.035);
    }
  }
  &:disabled {
    background: white;
    pointer-events: none;
  }
}
