.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
  color: whitesmoke;
  transition: 1s;
  &_info {
    display: none;
    bottom: 0;
    margin: 0;
    width: stretch;
    height: stretch;
    background-image: linear-gradient(to top, black, transparent);
    padding: 5px;
    transition: 1s;
    z-index: 99;
    &_play {
      fill: red; color: red;
    }
  }
  &:hover .card_info {
    display: block;
  }
  > h1 {
    position: relative;
    margin: 4px 5px;
    font-weight: 700;
    font-size: 15px;
    transform: scaleY(1.5);
    color: rgb(229,9,20);
    top: 0;
  }
}
