.dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.535);
  &_box {
    padding: 30px;
    border-radius: 7px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.322);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: center;
    justify-self: center;
    background: white;
    position: absolute;
    width: auto;
    height: auto;
  }
}
